@import '../../../styles/main.scss';

$image-size: 680px;
$dark-gray: map-get($colors, "dark-gray");
$light-gray: map-get($colors, "gray-light");
$white-color: map-get($colors, "white");
$bg-button: map-get($colors, "blue");

.item__container{
    border-radius: $borderRadius;
    padding: $margin-32;
    background-color: $white-color;
    margin: $margin-16 auto;
    max-width: $container;

    .item__container-grid{
        display: flex;
        flex-direction: column;
        margin-top: -$margin-32;
        @include breakpoint(lg) {
            display: grid;
            grid-template-columns: 5fr 2fr;
        }

        & > *{
            margin-top: $margin-32;
        }
    }

    .item__container-picture{
        width: 100%;
        
        &, img{
            width: 100%;
        }

        @include breakpoint(lg){
            
            &, img{
                width: $image-size;
            }

            img{
                height: $image-size;
                object-fit: contain;
            }
        }
    }

    .item__container-details{
        flex: 1;

        h1{
            font-size: $fontSize-24;
            color: $dark-gray;
            margin: $margin-16 0 $margin-32 0;
        }

        .item__conditions{
            font-size: $fontSize-14;
            line-height: 1;
            color: $dark-gray;
        }

        .item__price{
            display: flex;
            font-size: $fontSize-46;
            color: $dark-gray;
            margin-bottom: $margin-32;
            align-items: center;
    
            sup{
                font-size: $fontSize-46 * 0.4;
            }
        }

        .item__button{
            width: 100%;
            background-color: $bg-button;
            border: none;
            padding: $margin-16;
            color: $white-color;
            border-radius: $borderRadius;
            cursor: pointer;

            &:hover{
                background-color: darken($bg-button, 10);
                transition: all ease .3s;
            }
        }
    }


    .item__description{

        h2 {
            color: $dark-gray;
            font-size: $fontSize-24;
            font-weight: 400;
        }

    }

    .item__paragraph{
        color: $light-gray;
    }

}