$base-bg: #EEEEEE;
$base-fontSize: $fontSize-16;
$base-fontFamily: $fontFamily;
$container-width: $container;
$container-padding: $padding;

body{
    background-color: $base-bg;
    font-family: $base-fontFamily;
    margin: 0;
}

html{
    font-size: $base-fontSize;
    line-height: 1.3;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

a{
    text-decoration: none;
    color: inherit;
}

.container{
    max-width: $container-width;
    margin: 0 auto;
    padding: 0 $container-padding;
}