$fontFamily: "Helvetica Neue" , Arial, sans-serif;

$fontSize-12: 12px;
$fontSize-14: 14px;
$fontSize-16: 16px;
$fontSize-18: 18px;
$fontSize-24: 24px;
$fontSize-28: 28px;
$fontSize-46: 46px;

$margin-16: 16px;
$margin-32: 32px;

$padding: 10px;

$borderRadius: 4px;

$container: 1200px;