@import '../../../styles/main.scss';

$bg-color: map-get($colors, "white");
$border-color: map-get($colors, "gray-border" );

.flatlist__results{
    border-radius: $borderRadius;
    padding: $margin-16;
    background-color: $bg-color;
    margin: 0 auto $margin-16 auto;
    max-width: $container;

    & > .flatlist__results-layout{

        & > div{

            & + div{
                
                margin-top: $margin-16;

                & > *{
                    border-top: 2px solid $border-color;
                    padding-top: $margin-16;
                }
            }
        }
    }

    .flatlist__results-text {
        text-align: center;
        font-size: $fontSize-24;
    }
}