@import '../../../styles/main.scss';

$image-size: 180px;
$dark-gray: map-get($colors, "dark-gray");

.flatlist__container{

    display: flex;
    flex-direction: column;

    @include breakpoint(lg) {
        display: grid;
        grid-template-columns: 2fr 7fr 2fr;
    }

    & > div{
        padding-left: $margin-16;

        &:nth-child(1){
            width: auto;
        }
        
        &:nth-child(2){
            flex: 1;
        }
    }

    .flatlist__item-picture{
        width: $image-size;
        height: $image-size;
        border-radius: $borderRadius;

        margin: 0;
        padding: 0;

        display: flex;
        justify-content: flex-start;
        align-items: end;

        @include breakpoint(sm){
            width: $image-size;
            height: $image-size;
        }
    }

    
    .flatlist__price-wrapper{
        margin-top: $margin-16;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .flatlist__item-price{
        font-size: $fontSize-24;
        line-height: 1;
        color: $dark-gray;
    }
    
    .flatlist__item-free-shipping{
        background: url(../../../assets/ic_shipping.png) center center no-repeat;
        display: inline-block;
        width: 18px;
        height: 18px;
        margin-left: 12px;
    }

    .flatlist__item-condition{
        margin-top: $margin-32;
        font-size: $fontSize-12;
        font-weight: 300;
        color: $dark-gray;

        @include breakpoint(sm){
            margin-right: $margin-32;
        }
    }
    
    .flatlist__title{
        margin: $margin-32 0 0 0;
        font-size: $fontSize-18;
        font-weight: 400;
        color: $dark-gray;

        a{
            color: inherit;
            
            &:hover{
                text-decoration: underline;
            }
        }
    }
}